.page-title {
    font-size: 2.5em;
}

.author {
    font-size: .85em;
    top: 0;
    margin-top: 0;
}

.float-left {
    float: left;
    list-style-type: none;
    
    padding: 0 10px;
}

.float-right {
    float: right;
    list-style-type: none;
    display: inline-block;
}

nav ul li {
    padding: 0 10px;
    text-align: center;
    display: inline-block;
}

.blog-post {
   clear: both;
   margin-left: auto;
   margin-bottom: 10%;
}

.blog-post * {
   margin-bottom: 1.5em;
}

.table_of_contents {
    border: 1px solid red;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    font-size: .80em;
}

.mrgns-sm {
    margin: .2em;
}

.mrgn-btm-no { margin-bottom: 0; }
.mrgn-top-no { margin-top: 0; }

.padding-xs { padding: .5%; }

.display-block { display: block; }

.clearfix { clear: both; }

code {
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: #F08080; /*LightCoral*/
    padding: .3%;
    background-color: #B0C4DE; /*LightSteelBlue*/
}

pre {
    display: block;
    border-style: groove;
    padding: 1%;
    background-color: #2F4F4F;
    color: #E9967A; /* DarkSalmon */
}

.code-comment {
    color: #C0C0C0; /* Silver */
}