.background-color { background-color: #17361B;}

.screen-color { background-color: #EFF7D9; }

.screen-text { color: black; }

.words { color: #DAF7E0; }

.button-color-numbers { background-color: black; }

.button-color-operations { background-color: #324B4D; }
